$primary-color:#E30110;
$secondary-color:#418b1d;
$gray-color:#808080;
$black-color:#000000;
$white-color:#ffffff;

$background-color: #f1f6f5;
$input-background: #f0f0f085;
$text-color: #333;
$error-color: #E30110;

$button-primary: #E30110;
$button-hover: #7c030d;
$gradient-start: #E30110;
$gradient-end: #450207;

$sidebar-background: #f2f2f2;
$footer-background: #450207;
$footer-text-color: #450207;
$hover-background-color: #450207;
