@import "../../styles/color.scss";

.frontbase-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: $sidebar-background;
  width: 220px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  overflow-y: auto;
    
  .center {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .title {
      font-size: 0.9rem;
      color: $text-color;
      margin: 1rem 0 0.5rem 0;
      font-weight: bold;
    }

    .icon {
      color: $text-color;
      font-size: 1.5rem;
      transition: color 0.3s;
    }

    .MuiListItem-root {
      border-radius: 10px;
      transition: background-color 0.3s, color 0.3s;
      margin-bottom: 0.5rem;
      padding-left: 0.75rem;

      &:hover {
        background-color: $primary-color;
        color: $white-color;

        .icon {
          color: $white-color;
        }

        .MuiListItemText-root {
          color: $white-color;
        }
      }
    }

    .MuiListItemText-root {
      color: $text-color;
      font-size: 0.9rem;
      transition: color 0.3s;
    }

    .MuiListItemIcon-root {
      min-width: 35px;
      transition: color 0.3s;
    }
  }
}

.main-content {
  margin-left: 220px;
  padding: 1rem;
  width: calc(100% - 220px);
}

.footer {
  background-color: $primary-color;
  color: $background-color;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: calc(100% - 220px);
  left: 220px;
}
