.app.dark {
  background-color: #1d1b1b;
  color: #82c3ec;

  .chartGrid {
    stroke: #82c3ec;
  }

  .table {
    background-color: #1d1b1b;
    .tableCell {
      color: #fff;
    }
    .tableHead {
      background-color: #494545;
      font-weight: 700;
    }
    .tableRow {
      &:nth-child(even) {
        background-color: #494545;
      }

      &:nth-child(odd) {
        background-color: #1d1b1b;
      }

      &:hover {
        background-color: #303030;
        transition: background-color 0.5s ease-in-out; /* Renk değişimi 0.5 saniye sürsün ve yavaşça gerçekleşsin */
      }
    }
  }
  .widget {
    .link {
      width: max-content;
      font-size: 12px;
      color: gray;
      border-bottom: 1px solid gray;
    }
  }
  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
    .button {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: transparent;
      color: #fff;
      border: 1px solid #82c3ec;
      border-radius: 10px;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
    .logout-button {
      @extend .button;
      background-color: #1d1b1b;
      color: #82c3ec;

      &:hover {
        background-color: #82c3ec;
        color: #1d1b1b;
      }
    }
  }

  .sidebar {
    background-color: #1d1b1b;
    border-color: #333;

    .top {
      .logo {
        color: #4b56d2;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #82c3ec;
        }
      }
    }
  }
  .profile {
    .profileContainer {
      flex: 6;

      .top {
        padding: 20px;
        display: flex;
        gap: 20px;

        .left {
          h1 {
            font-size: 28px;
            color: #82c3ec;
            margin-bottom: 20px;
          }
          .currentUserDetails {
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              font-size: 18px;
              color: #82c3ec;
              margin: 10px 10px 10px 10px;
            }
          }
          .inputField {
            width: 80%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            margin-bottom: 15px;
            color: #82c3ec;
          }
        }
      }
    }
  }
  .cardStatistics {
    background-color: #1d1b1b;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  
    .cardStatistics-title {
      font-size: 18px;
      font-weight: 600;
    }
  
    .cardStatistics-value {
      font-size: 24px;
      font-weight: 700;
      margin: 8px 0;
    }
  
    .cardStatistics-description {
      font-size: 14px;
      color: #007aff;
      cursor: pointer;
    }
  }
  
  input {
    background-color: transparent;
  }
}
